html {
	font-size: 1em;
    line-height: 1.5em;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}


/* ======================== TYPOGRAPHY ========================== */
h1 {

}


h2 {
	font-weight:300;
	font-size:6.85em;
}

h3 {
	font-size:4.25em;
	line-height:1.375em;
}

h4 {
	font-size:2.6em;
}

h5 {
	font-size:1.618em;
}

p {
	font-size:1.618em;
	font-weight:200;
}

.intro {
	background-color: #990033;
}

.first-paragraph{
	margin-top:1em;
	font-size:2em;
	font-weight:300;
}

p.lead-paragraph{
	color: #A6A6A6;
	line-height: 2em;
}

/* ======================== IMAGES AND MEDIA ========================== */

.seal {
	display: block;
	width: 25%;
	height: 25%;
	margin: 0 auto;
	padding: 2em 0;
	opacity: 0.7;
	}

.header-image-bg {
	background-image: url('img/Sanders-Hall-rendering-hero.jpg');
	background-position: center;
	max-width:100%;
	width:1400px;
	margin:0 auto;
	background-color:#000;
	background-repeat: no-repeat;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: cover;
}